{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
Crear Venta
{% endblock title %}

<h2>Registrar Nueva Venta</h2>



{% block content %}
<div class="col-lg-8 col-sm-12 tabs_wrapper">
    <div class="page-header">
        <div class="page-title">
            <h4>Crear venta</h4>
            <h6>Gestiona tus compras</h6>
        </div>
    </div>
    <!-- Filtro de Categorías de los productos -->
    <ul class="tabs owl-carousel owl-theme owl-product border-0">
        {% for category in categories %}
        <li class="{% if forloop.first %}active{% endif %}" id="{{ category.nombre }}">
            <a class="product-details">
                <img src="{% static 'assets/img/product/product65.png' %}" alt="img" />
                <h6>{{ category.nombre }}</h6>
            </a>
        </li>
        {% endfor %}
    </ul>
    <!-- Productos -->
    <div class="tabs_container">
        <div class="row">
            {% for producto in products %}
            <div class="col-md-3">
                <div class="card text-center">
                    <img src="{{ producto.imagen }}" class="card-img-top" alt="{{ producto.nombre }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.nombre }}</h5>
                        <p class="card-text">Precio: {{ producto.precio_venta }}</p>
                        <button 
                            type="button" 
                            class="btn btn-primary add-product-btn" 
                            data-id="{{ producto.id }}" 
                            data-nombre="{{ producto.nombre }}" 
                            data-precio="{{ producto.precio_venta|floatformat:2 }}">
                            Agregar
                        </button>
                    </div>
                </div>
                
            </div>
            {% endfor %}
        </div>
        
        <!-- Formulario de venta -->
    <div class="card card-order">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <h3>Datos de la Venta</h3>
                {{ venta_form.as_p }}
                <div id="formset-container">
                    {{ detalle_venta_formset.management_form }}
                    <table id="detalleventa-table" class="table">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Precio Unitario</th>
                                <th>Descuento</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for form in detalle_venta_formset %}
                            <tr class="detalleventa-form">
                                <td>{{ form.producto }}</td>
                                <td>{{ form.cantidad }}</td>
                                <td>{{ form.precio_unitario }}</td>
                                <td>{{ form.descuento }}</td>
                                <td></td> <!-- Espacio para el botón "Eliminar" -->
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <button type="button" id="add-form" class="btn btn-secondary">Añadir Producto</button>
                <button type="submit" class="btn btn-primary">Registrar Venta</button>
            </form>
            

        </div>
    </div>
    </div>
</div>
<!-- Detalles de la venta -->
<div class="col-lg-4 col-sm-12">
    
</div>

<script src="{% static 'assets/JavaScript/sell.js' %}" defer></script>
{% endblock content %}