[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-widget-tweaks = "*"
pillow = "*"
pandas = "*"
openpyxl = "*"
psycopg2-binary = "*"
django-jsoneditor = "*"
django-jsonform = "*"
djangorestframework = "*"
django-filter = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
jsonschema = "*"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.12"
