{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Crear categoría
{% endblock title %}

{% block content %}
<div class="page-header">
    <div class="page-title">
        <h4>Crear Categoría</h4>
        <h6>Crear nueva categoría de producto</h6>
    </div>
</div>

<form method="post" enctype="multipart/form-data">
    <div class="card">
        <div class="card-body">
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <p>{{ form.non_field_errors }}</p>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="{{ form.nombre.id_for_label }}">Nombre</label>
                        {% render_field form.nombre class="form-control" %}
                        <p style="color: red;">{{ form.nombre.errors }}</p>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="{{ form.descripcion.id_for_label }}">Descripción</label>
                        {% render_field form.descripcion class="form-control" %}
                        <p style="color: red;">{{ form.descripcion.errors }}</p>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="{{ form.imagen.id_for_label }}">Imagen</label>
                        <div class="image-upload">
                            {% render_field form.imagen class="form-control" id="imagen-input" onchange="previewImage(event)" %}
                            <div class="image-uploads">
                                <img src="{% static 'assets/img/icons/upload.svg' %}" alt="img">
                                <h4>Arrastra y suelta un archivo para cargarlo</h4>
                            </div>
                        </div>
                        <p style="color: red;">{{ form.imagen.errors }}</p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="product-list">
                        <ul class="row">
                            <li class="ps-0" id="productviewscontainer" style="display: none;">
                                <div class="productviews">
                                    <div class="productviewsimg">
                                        <img id="imagen-preview" src="" alt="img">
                                    </div>
                                    <div class="productviewscontent">
                                        <div class="productviewsname">
                                            <h2 id="productname"></h2>
                                            <h3 id="productimagesize"></h3>
                                        </div>
                                        <a href="javascript:void(0);" class="hideset" onclick="clearImage()">x</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-submit me-2">Crear</button>
                    <a href="{% url 'dashboard' %}" class="btn btn-cancel">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function(){
            var output = document.getElementById('imagen-preview');
            output.src = reader.result;
            document.querySelector('#productviewscontainer').style.display = 'block';
            document.querySelector('#productname').innerText = event.target.files[0].name;
            document.querySelector('#productimagesize').innerText = (event.target.files[0].size / 1024).toFixed(2) + ' KB';
        };
        reader.readAsDataURL(event.target.files[0]);
    }
    
    function clearImage() {
        var input = document.getElementById('imagen-input');
        var preview = document.getElementById('imagen-preview');
        input.value = '';
        preview.src = '';
        document.querySelector('#productviewscontainer').style.display = 'none';
    }
</script>
{% endblock content %}
