{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load custom_filters %}

{% block title %}
    Listar productos
{% endblock title %}

{% block content %}
<div class="page-header">
    <div class="page-title">
      <h4>Lista de Productos</h4>
      <h6>Administra tus productos</h6>
    </div>
    <div class="page-btn">
      <a href="{% url 'create_product' %}" class="btn btn-added">
        <img src="{% static 'assets/img/icons/plus.svg' %}" alt="img" class="me-1" />
        Agregar nuevo producto
      </a>
    </div>
</div>

<div class="card">
    <div class="card-body">

      <div class="table-top">
        <div class="search-set">
          <div class="search-path">
            <a class="btn btn-filter" id="filter_search">
              <img src="{% static 'assets/img/icons/filter.svg' %}" alt="img" />
              <span
                ><img src="{% static 'assets/img/icons/closes.svg' %}" alt="img"
              /></span>
            </a>
          </div>
          <div class="search-input">
            <a class="btn btn-searchset"
              ><img src="{% static 'assets/img/icons/search-white.svg' %}" alt="img"
            /></a>
          </div>
        </div>
        <div class="wordset">
          <ul>
            <li>
              <a
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="pdf"
                ><img src="{% static 'assets/img/icons/pdf.svg' %}" alt="img"
              /></a>
            </li>
            <li>
              <a
                href="{% url 'upload_excel' %}"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="excel"
                ><img src="{% static 'assets/img/icons/excel.svg' %}" alt="img"
              /></a>
            </li>
            <li>
              <a
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="print"
                ><img src="{% static 'assets/img/icons/printer.svg' %}" alt="img"
              /></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="card mb-0" id="filter_inputs">
        <div class="card-body pb-0">
          <div class="row">
            <div class="col-lg-12 col-sm-12">
              <div class="row">
                <div class="col-lg col-sm-6 col-12">
                  <div class="form-group">
                    <select class="select">
                      <option>Elegir producto</option>
                      
                        {% for product in productos  %}
                          <option>{{ product.nombre }}</option>
                          {% empty %}
                            <option>No hay productos</option>
                        {% endfor %}
                        
                    </select>
                  </div>
                </div>
                <div class="col-lg col-sm-6 col-12">
                  <div class="form-group">
                    <select class="select">
                      <option>Elegir categoría</option>
                      
                        {% for category in productos|unique_categories  %}
                          <option>{{ category }}</option>
                          {% empty %}
                          <option>No hay categorías</option>
                        {% endfor %}
                        
                    </select>
                  </div>
                </div>
                <div class="col-lg col-sm-6 col-12">
                  <div class="form-group">
                    <select class="select">
                      <option>Elegir precio</option>                        
                      {% for product in productos  %}
                        <option>{{ product.precio_venta }}</option>
                      {% empty %}
                          <option>No hay precios</option>
                      {% endfor %}
                        
                    </select>
                  </div>
                </div>
                <div class="col-lg-1 col-sm-6 col-12">
                  <div class="form-group">
                    <a class="btn btn-filters ms-auto"
                      ><img
                        src="{% static 'assets/img/icons/search-whites.svg' %}"
                        alt="img"
                    /></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table datanew">
          <thead>
            <tr>
              <th>
                <label class="checkboxs">
                  <input type="checkbox" id="select-all" />
                  <span class="checkmarks"></span>
                </label>
              </th>
              <th>Nombre del producto</th>
              <th>Categoría</th>
              <th>Precio de venta</th>
              <th>Precio de compra</th>
              <th>Stock</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for producto in productos %}
            <tr>
              <td>
                <label class="checkboxs">
                  <input type="checkbox" />
                  <span class="checkmarks"></span>
                </label>
              </td>
              <td class="productimgname">
                <a href="javascript:void(0);" class="product-img">
                  
                  {% if producto.imagen %}
                    <img
                      src="{{ producto.imagen.url }}" alt="{{ producto.imagen }}"
                    />
                  {% else %}
                  <img src="{% static 'assets/img/product/noimage.png' %}" alt="noimage" />
                  {% endif %}
                    
                </a>
                <a href="{% url 'detail_product' producto.id %}">{{ producto.nombre }}</a>
              </td>
              <td>{{ producto.categoria.nombre }}</td>
              <td>${{ producto.precio_venta }}</td>
              <td>${{ producto.precio_compra }}</td>
              <td>{{ producto.stock }}</td>
              <td>
                <a class="me-3" href="{% url 'detail_product' producto.id %}">
                  <img src="{% static 'assets/img/icons/eye.svg' %}" alt="img" />
                </a>
                <a class="me-3" href="{% url 'update_product' producto.id %}">
                  <img src="{% static 'assets/img/icons/edit.svg' %}" alt="img" />
                </a>
                <form class="d-inline" action="{% url 'delete_product' producto.id %}" method="post">
                  {% csrf_token %}
                  <button type="button" class="btn confirm-text p-0 m-0 align-baseline">
                    <img src="{% static 'assets/img/icons/delete.svg' %}" alt="img" />
                  </button>
                </form>
              </td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
</div>
{% endblock content %}
