{% extends 'base.html' %}
{% load static %}

{% block title %}
    Listar productos
{% endblock title %}

{% block content %}
<div class="page-header">
    <div class="page-title">
      <h4>Lista de Productos</h4>
      <h6>Administra tus productos</h6>
    </div>
    <div class="page-btn">
      <a href="{% url 'create_product' %}" class="btn btn-added">
        <img src="{% static 'assets/img/icons/plus.svg' %}" alt="img" class="me-1" />
        Agregar Nuevo Producto
      </a>
    </div>
</div>

<div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table datanew">
          <thead>
            <tr>
              <th>
                <label class="checkboxs">
                  <input type="checkbox" id="select-all" />
                  <span class="checkmarks"></span>
                </label>
              </th>
              <th>Nombre del Producto</th>
              <th>Categoría</th>
              <th>Precio</th>
              <th>Stock</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for producto in productos %}
            <tr>
              <td>
                <label class="checkboxs">
                  <input type="checkbox" />
                  <span class="checkmarks"></span>
                </label>
              </td>
              <td class="productimgname">
                <a href="javascript:void(0);" class="product-img">
                  <img
                    src="{% static 'assets/img/product/product1.jpg' %}" alt="product"
                  />
                </a>
                <a href="javascript:void(0);">{{ producto.nombre }}</a>
              </td>
              <td>{{ producto.categoria.nombre }}</td>
              <td>${{ producto.precio_venta }}</td>
              <td>{{ producto.stock }}</td>
              <td>
                <a class="me-3" href="">
                  <img src="{% static 'assets/img/icons/eye.svg' %}" alt="img" />
                </a>
                <a class="me-3" href="">
                  <img src="{% static 'assets/img/icons/edit.svg' %}" alt="img" />
                </a>
                <a class="confirm-text" href="">
                  <img src="{% static 'assets/img/icons/delete.svg' %}" alt="img" />
                </a>
              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="6">No se encontraron productos.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
</div>
{% endblock content %}
