{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load tz %}
{% load custom_filters %}

{% block title %}
    Reporte de Facturas
{% endblock title %}

{% block content %}
<div class="page-header">
    <div class="page-title">
        <h4>Reporte de Facturas</h4>
        <h6>Gestiona tu Reporte de Facturas</h6>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="table-top">
            <div class="search-set">
                <div class="search-path">
                    <a class="btn btn-filter" id="filter_search">
                        <img src="{% static 'assets/img/icons/filter.svg' %}" alt="img" />
                        <span><img src="{% static 'assets/img/icons/closes.svg' %}" alt="img" /></span>
                    </a>
                </div>
                <div class="search-input">
                    <a class="btn btn-searchset">
                        <img src="{% static 'assets/img/icons/search-white.svg' %}" alt="img" />
                    </a>
                </div>
            </div>
            <div class="wordset">
                <ul>
                    <li>
                        <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf">
                            <img src="{% static 'assets/img/icons/pdf.svg' %}" alt="img" />
                        </a>
                    </li>
                    <li>
                        <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel">
                            <img src="{% static 'assets/img/icons/excel.svg' %}" alt="img" />
                        </a>
                    </li>
                    <li>
                        <a data-bs-toggle="tooltip" data-bs-placement="top" title="imprimir">
                            <img src="{% static 'assets/img/icons/printer.svg' %}" alt="img" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="card" id="filter_inputs">
            <div class="card-body pb-0">
                <form method="get">
                    <div class="row">
                        <div class="col-lg-2 col-sm-6 col-12">
                            <div class="form-group">
                                <div class="input-groupicon">
                                    <input type="text" name="from_date" placeholder="Desde Fecha" class="datetimepicker" />
                                    <div class="addonset">
                                        <img src="{% static 'assets/img/icons/calendars.svg' %}" alt="img" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-6 col-12">
                            <div class="form-group">
                                <div class="input-groupicon">
                                    <input type="text" name="to_date" placeholder="Hasta Fecha" class="datetimepicker" />
                                    <div class="addonset">
                                        <img src="{% static 'assets/img/icons/calendars.svg' %}" alt="img" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 col-sm-6 col-12 ms-auto">
                            <div class="form-group">
                                <button type="submit" class="btn btn-filters ms-auto">
                                    <img src="{% static 'assets/img/icons/search-whites.svg' %}" alt="img" />
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table datanew">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Fecha de Emisión</th>
                        <th>Fecha de Vencimiento</th>
                        <th>Total</th>
                        <th>Descuento Total</th>
                        <th>Monto Total</th>
                        <th>Producto</th>
                        <th>Categoría</th>
                    </tr>
                </thead>
                <tbody>
                    {% for factura in facturas %}
                    <tr>
                        <td>{{ factura.numero_factura }}</td>
                        <td>{{ factura.fecha_emision|date:"d-m-Y" }}</td>
                        <td>{{ factura.fecha_vencimiento|date:"d-m-Y" }}</td>
                        <td>${{ factura.total }}</td>
                        <td>${{ factura.descuento_total }}</td>
                        <td>${{ factura.monto_total }}</td>
                        <td>
                            {% for detalle in factura.venta.detalleventa_set.all %}
                                {{ detalle.producto.nombre }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% with categorias=factura.venta.detalleventa_set.all|unique %}
                                {% for detalle in categorias %}
                                    {{ detalle }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            {% endwith %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}